<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!-- 扫描service包下所有使用注解的类型 -->
    <context:component-scan base-package="com.bingobox.product.service"/>

    <!-- 引入Dao配置 -->
    <import resource="classpath:spring/spring-dao.xml"/>
    <!-- 引入HSF配置 -->
    <import resource="classpath:hsf/hsf-provider-beans.xml"/>
    <import resource="classpath:hsf/hsf-consumer-beans.xml"/>
    <!-- 引入MQ生产者配置 -->
    <import resource="classpath:mq/mq-producer.xml"/>
    <!-- 引入MQ消费者配置 -->
    <import resource="classpath:mq/mq-consumer.xml"/>

    <!-- 配置事务管理器
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    -->

    <bean id="readWriteDataSourceTransactionProcessor" class="com.bingobox.framework.datasource.ReadWriteDataSourceProcessor">
        <property name="forceChoiceReadWhenWrite" value="false"/>
    </bean>


    <aop:config expose-proxy="true">
        <!-- 只对业务逻辑层实施事务 -->
        <aop:pointcut id="txPointcut" expression="execution(* com.bingobox.product.service..*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>

        <!-- 通过AOP切面实现读/写库选择 -->
        <aop:aspect order="-2147483648" ref="readWriteDataSourceTransactionProcessor">
            <aop:around pointcut-ref="txPointcut" method="determineReadOrWriteDB"/>
        </aop:aspect>
    </aop:config>


    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="readWriteDataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="create*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="merge*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="java.lang.Exception,java.lang.RuntimeException" isolation="READ_COMMITTED"/>

            <tx:method name="put*" read-only="true" />
            <tx:method name="query*" read-only="true" />
            <tx:method name="use*" read-only="true" />
            <tx:method name="get*" read-only="true" />
            <tx:method name="count*" read-only="true" />
            <tx:method name="find*" read-only="true" />
            <tx:method name="list*" read-only="true" />

            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

</beans>