<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.pfgh.dao.TubiaoDao">
	
	<select id="findAll" resultType="Pfgh_pb_dmbwlxx" >
		select * from pfgh_pb_dmbwlxx
	</select>
	
	<select id="findAll2" resultType="Pfgh_pb_dmbljgx" >
		select * from pfgh_pb_dmbljgx
	</select>
</mapper>
